<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="../../static/style.css">
	<meta charset="UTF-8">
	<title>Fall Sport Images</title>
	<link rel="icon" href="/static/camera.ico">
</head>

<header>
	<h1 class="rule1">Kailey Rocha's Photography</h1>
</header>

<div class="header">
<nav>
	<ul>
		<li><a href="/">Home Page</a></li>
		<li><a href="/fallsports">Fall Sports</a></li>
		<li><a href="/wintersports">Winter Sports</a></li>
		<li><a href="/springsports">Spring Sports</a></li>
		<li><a href="/other">Other Images</a></li>
	</ul>
</nav>
</div>

<body>

<div class="subheader">
	<nav>
		<ul>
			<li class="subheader"><a href="/boysbasketball">Boys Basketball</a></li>
		</ul>
	</nav>
</div>

<h2>Coming soon...</h2>

</body>

</html>