*, html {

}

body.index {
    font-size: xxx-large;
    background-image: url("/static/neon_out.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.football {
    background-image: url("/static/football/footballbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.cheerleading {
    background-image: url("/static/cheerleading/cheerbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body.volleyball {
    background-image: url("/static/gsoccer/volleyballbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.bbasketball {
    background-image: url("/static/basketball/basketballbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-size: xxx-large;
    background-color: #e0f3ff;
}

nav {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 3px;
    border-color: lightskyblue;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 8px;
    background-color: lightskyblue;
}

li.subheader {
    display: inline;
    padding: 8px;
    background-color: #0073cf;
}

a:link {
    text-decoration: none;
    color: white;
    text-decoration-color: white;
}

link:visited {
    text-decoration-color: white;
}

img.profilepic {
    margin-top: 2em;
    min-width: 32px;
    max-width: 8%;
    border-radius: 50%;
    margin-left: 15px;
    opacity: 100%;
}

img.links {
    margin-top: 2em;
    min-width: 32px;
    max-width: 8%;
    margin-left: 15px;
    opacity: 100%;
}

h1.rule1 {
    font-family: "Fantasy", serif;
    font-size: 4ex;
    max-width: 100%;
    color: lightskyblue;
    text-align: center;
    margin-top: 1ex;
    width: 100%;
    inline-size: auto;
}

p.rule2 {
    font-family: "Constantia bold", serif;
    font-size: medium;
    color: pink;
}

a.rule3 {
    font-family: "constantia", serif;
    font-size: medium;
    color: pink;
}

div.header {
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

div.subheader {
    display: flex;
    margin-top: 1ex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

div.bio {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    background-color: white;
    text-align: center;
}