<!doctype html>
<html lang="en">

<title>Boys Basketball Images</title>

<head>
	<link rel="stylesheet" href="../static/style.css">
	<meta charset="UTF-8">
	<title>Boys Basketball Images</title>
</head>

<header>
	<h1 class="rule1">Kailey Rocha's Photography</h1>
</header>

<div class="header">
	<nav>
		<ul>
			<li><a href="/">Home Page</a></li>
			<li><a href="/fallsports">Fall Sports</a></li>
			<li><a href="/wintersports">Winter Sports</a></li>
			<li><a href="/springsports">Spring Sports</a></li>
			<li><a href="/other">Other Images</a></li>
		</ul>
	</nav>
</div>

<body class="bbasketball">

</body>

</html>