<!doctype html>
<html lang="en">

<title>kaileys photos</title>

<head>
	<link rel="stylesheet" href="../static/style.css">
	<meta charset="UTF-8">
	<title>About KatPomp</title>
</head>

<header>
	<h1 class="rule1">Kailey Rocha's Photography</h1>
</header>

<div class="header">
<nav>
	<ul>
		<li><a href="/">Home Page</a></li>
		<li><a href="/fallsports">Fall Sports</a></li>
		<li><a href="/wintersports">Winter Sports</a></li>
		<li><a href="/springsports">Spring Sports</a></li>
		<li><a href="/nature">Nature Images</a></li>
	</ul>
</nav>
</div>

<body>

<div class="bio">
	<p class="rule2">Welcome to my photography website! I have sports photography, and nature photography. I
		also offer
		sports photography sessions for $25! </p>
	<p class="rule2"> All you need to do is fill out the Google form below! Feel free to check out my
		socials
		and reach
		out with any questions.</p>
</div>

<h2>Coming soon...</h2>

<footer>
	<img class="profilepic" src="/static/kailey.jpg" alt="Profile Picture">
	<a class="rule3" href="https://instagram.com/kaileysphotos101" target="_bottom">Instagram</a>
</footer>

</body>

</html>
