<!doctype html>
<html lang="en">

<title>kaileys photos</title>

<head>
	<link rel="stylesheet" href="../static/style.css">
	<meta charset="UTF-8">
	<title>About KatPomp</title>
</head>

<header>
	<h1 class="rule1">Kailey Rocha's Photography</h1>
</header>

<nav>

</nav>

<body>

<div class="dropdown">
	<svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white">
		<path fill-rule="evenodd"
			  d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
			  clip-rule="evenodd"/>
	</svg>
	<div class="dropdown-content">
		<a href="football" target="_blank"> Football 2021</a>
	</div>
</div>

<div>
	
	<p class="rule2">Welcome to my photography website! I have sports photography, and nature photography. I also offer
		sports photography sessions for $25! </p>
	<p class="rule2"> All you need to do is fill out the Google form below! Feel free to check out my socials and reach
		out with any questions.</p>
</div>

<footer>
	<img class="profilepic" src="/static/kailey.jpg" alt="Profile Picture">
	<a class="rule3" href="https://instagram.com/kaileysphotos101" target="_bottom">Instagram</a>
</footer>

</body>

</html>
