<!doctype html>
<html lang="en">

<title>kaileys photos</title>

<head>
	<link rel="stylesheet" href="../static/style.css">
	<meta charset="UTF-8">
	<title>Kaileys Photography</title>
	<link rel="icon" href="/static/camera.ico">
	<link rel="preload" as="script" href="/static/slideshow.js">
	<script src="/static/slideshow.js" onload="addListener()"></script>
</head>

<header>
	<h1 class="rule1">Kailey Rocha's Photography</h1>
	<div class="header">
	<nav>
		<ul>
			<li><a href="/">Home Page</a></li>
			<li><a href="/fallsports">Fall Sports</a></li>
			<li><a href="/wintersports">Winter Sports</a></li>
			<li><a href="/springsports">Spring Sports</a></li>
			<li><a href="/other">Other Images</a></li>
		</ul>
	</nav>
	</div>
</header>



<body class="index">

<div class="slideshow-container">
	
	<div class="mySlides fade">
		<div class="numbertext">1 / 8</div>
		<img src="/static/indexslide/indexss.JPG" style="width:100%" alt="Student Section">
		<div class="text">Stone Bridge Student Section</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">2 / 8</div>
		<img src="/static/indexslide/indexbaseball.JPEG" style="width:100%" alt="Baseball">
		<div class="text">Stone Bridge Varsity Baseball</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">3 / 8</div>
		<img src="/static/indexslide/indexbasketball.JPEG" style="width:100%" alt="Basketball">
		<div class="text">Stone Bridge Varsity Mens Basketball</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">4 / 8</div>
		<img src="/static/indexslide/indexcheer.jpg" style="width:100%" alt="Cheerleading">
		<div class="text">Stone Bridge Varsity Cheerleading</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">5 / 8</div>
		<img src="/static/indexslide/indexfootball.JPEG" style="width:100%" alt="Football">
		<div class="text">Stone Bridge Varsity Football</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">6 / 8</div>
		<img src="/static/indexslide/indexlax.JPEG" style="width:100%" alt="Lacrosse">
		<div class="text">Stone Bridge Varsity Mens Lacrosse</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">7 / 8</div>
		<img src="/static/indexslide/indexsoccer.JPEG" style="width:100%" alt="Soccer">
		<div class="text">Stone Bridge Varsity Mens Soccer</div>
	</div>
	
	<div class="mySlides fade">
		<div class="numbertext">8 / 8</div>
		<img src="/static/indexslide/indexvolleyball.jpg" style="width:100%" alt="Volleyball">
		<div class="text">Stone Bridge Varsity Volleyball</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<footer>
	<img class="profilepic" src="/static/kailey.jpg" alt="Profile Picture">
	<a href="https://www.instagram.com/kaileysphotos101/"><img class="links" src="/static/instagram.jpg"
															   alt="Instagram Logo"></a>
</footer>

</body>

</html>
